<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="LoginPage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<div class="wrapper">
  <header>Track Your Journey here!</header>
  <form action="Home.html">
    <div class="field scholar">
      <div class="input-area">
        <input type="text" placeholder="Username (Scholar No.)">
        <i class="icon fas fa-solid fa-user"></i>
        <i class="error error-icon fas fa-exclamation-circle"></i>
      </div>
      <div class="error error-txt">Username can't be blank</div>
      <div class="note">
        *Note : must contain 2 characters in captial and 5 digits e.g. "BE20140"
      </div>
    </div>

    <div class="field password">
      <div class="input-area">
        <input type="password" placeholder="Password">
        <i class="icon fas fa-lock"></i>
        <i class="error error-icon fas fa-exclamation-circle"></i>
      </div>
      <div class="error error-txt">Password can't be blank</div>
    </div>
    <!-- <div class="pass-txt"><a href="#">Forgot password?</a></div> -->
    <input type="submit" value="Login">
  </form>
  <div class="sign-txt">Not yet member? <a href="#">Contact here</a></div>
  <div class="sign-txt">Admin? <a href="AdminLoginPage.html">Login here</a></div>
</div>

<script src="Script.js"></script>

</body>
</html>